

.home{
    margin: 2em 0;
    background-color: white;
    h2{
        text-align: center;
        color: #43308B;
        font-family: 'Josefin Sans', sans-serif !important;
        font-weight: 400;
    }
}